<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Paper School</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/main.css")
    @Styles.Render("~/Content/jquery.fancybox.css")
    @Styles.Render("~/Content/responsive.css")
    @Styles.Render("~/Content/animate.min.css")
    @Styles.Render("~/Content/animate.min.css")
    @Styles.Render("~/Content/font-icon.css")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


</head>
<body>

    <!-- header section -->
    <section class="banner" role="banner">
        <!--header navigation -->
        <header id="header">
            <div class="header-content clearfix">
                <a class="logo" href="index.html">@Html.ActionLink("Paper School", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
                <nav class="navigation" role="navigation">

                    <ul class="primary-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Trainers", "Index", "Trainers")</li>
                    </ul>
                </nav>
                <a href="#" class="nav-toggle">Menu<span></span></a>
            </div>
        </header>
        <!--header navigation -->
    </section>
    <!-- header section -->

    <br/>
    <br/>
    <br/>
    <br/>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Paper School</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/jquery.flexslider - min.js")
    @Scripts.Render("~/Scripts/jquery.fancybox.pack.js")
    @Scripts.Render("~/Scripts/jquery.waypoints.min.js")
    @Scripts.Render("~/Scripts/retina.min.js")
    @Scripts.Render("~/Scripts/modernizr.js")
    @Scripts.Render("~/Scripts/main.js")


    @RenderSection("scripts", required: false)
</body>
</html>
